{%- liquid
  unless grid_item_width
    assign grid_item_width = 'medium-up--one-quarter small--one-half'
  endunless

  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  assign sold_out = true
  if product.available
    assign sold_out = false
  endif

  assign product_tags = product.tags | join: ','
  assign has_custom_label = false
  if product_tags contains '_label_'
    for tag in product.tags
      if tag contains '_label_'
        assign tag_starts_with = tag | slice: 0
        if tag_starts_with == '_'
          assign has_custom_label = true
          assign custom_label = tag | replace: '_label_', ''
        endif
      endif
    endfor
  endif
-%}

<div class="grid__item grid-product grid-height-style {{ grid_item_width }}{% if settings.quick_shop_enable and sold_out == false %} grid-product__has-quick-shop{% endif %}" data-aos="row-of-{{ per_row }}">
  <div class="grid-product__content">
    {%- if has_custom_label -%}
      <div class="grid-product__tag grid-product__tag--custom">
        {{ custom_label }}
      </div>
    {%- else -%}
      {%comment%}
      {%- if sold_out -%}
        <div class="grid-product__tag grid-product__tag--sold-out">
          {{ 'products.product.sold_out' | t }}
        </div>
      {%- endif -%}
      {%endcomment%}
      {%- if on_sale and sold_out == false -%}
        <div class="grid-product__tag grid-product__tag--sale">
          {{ 'products.general.sale' | t }}
        </div>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      assign fixed_aspect_ratio = false
      unless settings.product_grid_image_size == 'natural'
        assign fixed_aspect_ratio = true
      endunless

      assign preview_image = product.featured_media.preview_image
      assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
    -%}

    <a href="{{ product.url | within: collection }}" class="image-content grid-product__link{% if sold_out %} grid-product__link--disabled{% endif %}">
      <div class="grid-product__image-mask">
        {%- if settings.quick_shop_enable and sold_out == false -%}
          <div class="quick-product__btn js-modal-open-quick-modal-{{ product.id }} small--hide" data-product-id="{{ product.id }}">
            <span class="quick-product__label">{{ settings.quick_shop_text }}</span>
          </div>
        {%- endif -%}
        {%- if fixed_aspect_ratio -%}
        {%comment%}
          <div
            class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }} lazyload"
            data-bgset="{% render 'bgset', image: preview_image %}"
            data-sizes="auto">

            {% unless sold_out %}
              {% assign date_created = product.created_at | date:'%s' %}
              {% assign     date_now = 'now' | date:'%s' %}
              {% assign   difference = date_now | minus: date_created %}

              {% if difference < 2592000 %}
                <span class="badge-new">NEW</span>
              {% endif %}
            {% endunless %}
          </div>
        {%- else -%}
        {% endcomment %}
          <div class="image-wrap"
            style="height: 0; padding-bottom: {{ 100 | divided_by: preview_image.aspect_ratio }}%;"
            >
            <img class="grid-product__image lazyload"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080]"
                data-aspectratio="{{ preview_image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ preview_image.alt | escape }}">
            <noscript>
              <img class="grid-product__image lazyloaded"
                src="{{ preview_image | img_url: '400x' }}"
                alt="{{ preview_image.alt | escape }}">
            </noscript>

            {% unless sold_out %}
              {% assign date_created = product.created_at | date:'%s' %}
              {% assign     date_now = 'now' | date:'%s' %}
              {% assign   difference = date_now | minus: date_created %}

              {% if difference < 2592000 %}
                <span class="badge-new subheader-font">NEW</span>
              {% endif %}
            {% endunless %}
          </div>
        {%- endif -%}

        {%- unless sold_out -%}
          {%- if settings.product_hover_image and product.media.size > 1 -%}
            {%- for media in product.media offset: 1 limit: 1 -%}
              {%- assign second_image = media.preview_image -%}
            {%- endfor -%}
            <div
              class="grid-product__secondary-image small--hide lazyload"
              data-bgset="{% render 'bgset', image: second_image %}"
              data-sizes="auto">

              {% unless sold_out %}
                {% assign date_created = product.created_at | date:'%s' %}
                {% assign     date_now = 'now' | date:'%s' %}
                {% assign   difference = date_now | minus: date_created %}

                {% if difference < 2592000 %}
                  <span class="badge-new">NEW</span>
                {% endif %}
              {% endunless %}
            </div>
          {%- endif -%}
        {%- endunless -%}

        {%- if settings.collection_color_swatches -%}
          {%- assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase-%}
          {%- for option in product.options_with_values -%}
            {%- liquid
              assign option_name = option.name | downcase
              assign is_color = false
              if option_name contains swatch_trigger
                assign is_color = true
              elsif swatch_trigger == 'color' and option_name contains 'colour'
                assign is_color = true
              endif
            -%}
            {%- if is_color -%}
              {%- assign option_index = forloop.index0 -%}
              {%- assign values = '' -%}
              {%- for variant in product.variants -%}
                {%- assign value = variant.options[option_index] %}
                {%- unless values contains value -%}
                  {%- liquid
                    assign values = values | join: ','
                    assign values = values | append: ',' | append: value
                    assign values = values | split: ','
                  -%}

                  {%- if variant.image -%}
                    <div
                      class="grid-product__color-image grid-product__color-image--{{ variant.id }} small--hide">
                    </div>
                  {%- endif -%}
                {%- endunless -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>

      <div class="grid-product__meta group-grid-product__meta--position image-info content-font">
        <div class="grid-product__title grid-product__title--{{ settings.type_product_style }}" style="color: white;">{{ product.title }}</div>
        {%- if settings.vendor_enable -%}
          <div class="grid-product__vendor">{{ product.vendor }}</div>
        {%- endif -%}

        <div style="color: white;">
          {{ product.created_at | date: "%Y" }}
        </div>

        {%- if settings.enable_product_reviews -%}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {%- endif -%}

      </div>
    </a>
  </div>

  {%- if sold_out -%}
    <div class="content-font product-sold-out-position">
      {{ 'products.product.sold_out' | t }}
    </div>
  {%- endif -%}
</div>
