{%- assign newsletter_form_id = 'newsletter-' | append: section_id -%}
{% form 'customer', id: newsletter_form_id %}
  {%- if form.posted_successfully? -%}
    <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
  {%- endif -%}
  {%- if form.errors and form.context == snippet_context -%}
    {{ form.errors | default_errors }}
  {%- endif -%}

  {%- unless form.posted_successfully? -%}
    <label for="Email-{{ section_id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
    <input type="hidden" name="contact[tags]" value="prospect,newsletter">
    <input type="hidden" name="contact[context]" value="{{ snippet_context }}">
    <div class="input-group newsletter__input-group">
      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ section_id }}" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
      <div class="input-group-btn">
        <button type="submit" class="btn" name="commit">
          <span class="form__submit--large">{{ 'general.newsletter_form.submit' | t }}</span>
          <span class="form__submit--small">
            <svg width="26" height="18" viewBox="0 0 26 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.9023 1.07884C16.6639 1.31729 16.6639 1.70362 16.9023 1.94204C16.9023 1.94204 16.9023 1.94204 16.9023 1.94204L23.5168 8.55654H1.51045C1.17308 8.55654 0.9 8.82962 0.9 9.16699C0.9 9.50436 1.17308 9.77744 1.51045 9.77744H23.5168L16.9023 16.3919C16.6639 16.6304 16.6639 17.0167 16.9023 17.2551C17.0215 17.3743 17.1779 17.4339 17.334 17.4339C17.49 17.4339 17.6464 17.3743 17.7656 17.2551L17.7656 17.2551L25.4221 9.59856C25.6605 9.36015 25.6605 8.97382 25.4221 8.73537L17.7655 1.07884C17.5271 0.840393 17.1408 0.840378 16.9023 1.07884ZM16.9023 1.07884L16.9691 1.14561L16.9023 1.07885C16.9023 1.07885 16.9023 1.07885 16.9023 1.07884Z" fill="white" stroke="white" stroke-width="0.2"/></svg>
          </span>
        </button>
      </div>
    </div>
  {%- endunless -%}
{% endform %}
