{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{% style %}
  .background-image {
    background-image: url({{'Path108.png' | asset_url }});
    height: 600px;
    width: 600px;
    background-size: 100% 100%;
    position: absolute;
    top: -375px;
    right: -490px;
  }
{% endstyle %}

<div
  data-section-id="{{ section.id }}"
  data-section-type="featured-content-section"
  class="text-{{ section.settings.align_text }} div--position">

  <div class="page-width">
    <div class="grid grid__floral">
      <div class="grid__item{% if section.settings.narrow_column %} medium-up--three-quarters{% endif %}">
        {%- if section.settings.title != blank -%}
          <h2>{{ section.settings.title }}</h2>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="grid__item">
            {%- if section.settings.enlarge_text -%}<div class="enlarge-text enlarge-text--style ">{%- endif -%}
              {{ section.settings.text }}
            {%- if section.settings.enlarge_text -%}</div>{%- endif -%}
          </div>
        {%- endif -%}
      </div>

      <div class="grid__item{% if section.settings.narrow_column %} medium-up--five-sixths{% endif %}" style="z-index: 1;">
        <div class="feature-row__item">
          {% if section.settings.image != blank %}
            {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
            {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
            {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% include 'image-style', image: section.settings.image, height: 701, wrapper_id: wrapper_id, img_id: img_id %}
            <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js" >
              <img id="{{ img_id }}"
                  class="feature-row__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ section.settings.image.alt }}">
            </div>

            <noscript>
              {{ section.settings.image | img_url: '1624x701' | img_tag: section.settings.image.alt, 'feature-row__image' }}
            </noscript>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'image-size'}}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="background-image"></div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Rich text",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>A sentence or two introducing your brand, what you sell, and what makes your brand compelling to customers.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow column"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "Rich text",
      "category": "Text"
    }]
  }
{% endschema %}
