{% section 'product-template' %}
{% section 'product-recommendations' %}

{%comment%}
{% section 'product-story-sections' %}
{% section 'product-recommendations' %}
{% section 'instafeed' %}
{% section 'yotpo-reviews-widget' %}
{% section 'recently-viewed' %}
{%endcomment%}

{% if collection %}
  <div class="text-center page-content page-content--bottom">
    <a href="{% if collection.handle == 'frontpage' %}/{% else %}{{ collection.url }}{% endif %}" class="btn btn--small return-link">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-arrow-left" viewBox="0 0 50 15"><path d="M50 5.38v4.25H15V15L0 7.5 15 0v5.38z"/></svg> {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}

<!-- Custom Code Snippet -->
<!-- <script>theme.productData[{{ product.id }}] = {{ product | json }};</script> -->

<!-- DRIP_PRODUCT_TRACKING_V1 -->
<!-- <script text="text/javascript">
  var _dcq = _dcq || [];
  _dcq.push(['recordProductView', {{ product|json }}, {{ product.collections|map:'id'|json }}, '{{shop.currency}}', '{{ product.url }}']);
</script> -->
<!-- END_DRIP_PRODUCT_TRACKING_V1 -->

<!-- SEZZLE - Buy Now. Pay Later. - START -->
<script src=https://widget.sezzle.com/v1/javascript/price-widget/initial?uuid=0533fce3-32ca-4a2b-bfad-9c8f75a84fae></script>
<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=0533fce3-32ca-4a2b-bfad-9c8f75a84fae"></script>
<!-- SEZZLE - Buy Now. Pay Later. - END -->

<!-- KLAVIYO - Email Marketing - START -->
<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<!-- KLAVIYO - Email Marketing - END -->

<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=0533fce3-32ca-4a2b-bfad-9c8f75a84fae"></script>